<%- contentFor('body') %>

    <h1 style="padding: 10% ">
      PÁGINA EN DESARROLLO...
      <a href="../../index" style="text-decoration: underline"
        >VOLVER AL INICIO</a
      >
    </h1>
  