<%- contentFor('body') %> 
    <!-- MAIN START -->
    <main class="shop__content container">
      <!-- ASIDE START-->
      <!-- RETOCAR Y CONTROLAR/CORREGIR ESTILOS DEL ASIDE -->
      <aside class="form-shop">
        <form class="form-shop__content" method="POST" target="blank">
          <div class="form-shop__content-search">
            <label for="search" id="search">Buscar</label>
            <input
              type="search"
              name="search"
              id="search"
              placeholder="Ítem o categoría"
            />
          </div>
          <div class="form-shop__content-order">
            <label for="order" id="order">Ordenar por</label>
            <select name="order" id="order">
              <option value="Mayor a menor">Mayor a menor</option>
              <option value="Menor a mayor">Menor a mayor</option>
            </select>
          </div>
          <div class="form-shop__content-price">
            <label for="price" id="price">Precio</label>
            <section class="form-shop__content-price-options">
              <p>min</p>
              <input type="number" id="price" name="minPrice" value="0" />
              <p>- max</p>
              <input type="number" id="price" name="maxPrice" value="0" />
            </section>
          </div>
          <div class="form-shop__content-filter">
            <label for="filter" id="filter">Filtrar</label>
            <section>
              <label>
                <input type="checkbox" name="filterNew" id="filter" /> Nuevos
              </label>
              <label>
                <input type="checkbox" name="filterPromotions" id="filter" />
                Ofertas
              </label>
              <label>
                <input
                  type="checkbox"
                  name="filterSpecialEdition"
                  id="filter"
                />
                Edición especial
              </label>
              <label>
                <input type="checkbox" name="filterFavs" id="filter" />
                Favoritos
              </label>
            </section>
          </div>
        </form>
      </aside>
      <!-- RETOCAR Y CONTROLAR/CORREGIR ESTILOS DEL ASIDE ^^^^^^-->
      <!-- ASIDE END-->

      <!-- MAIN CATALOGUE START -->
      <section class="itmes-layout">
        <%- include('../partials/shop/card') %>
      </section>
      <!-- MAIN CATALOGUE END -->

      <!--FALTA AGREGAR PAG.SIGUIENTE PARA ITEMS DE COMPRA -->
    </main>
