<%- contentFor('body') %>
 

    <!-- MAIN START -->
     <main>
      <section class="container_search">
        <div class="img_search">
          <label for="search">
            <picture>
              <img
                src="../../img/icons/search_icon.svg"
                alt="Ícono de búsqueda."
              /> </picture
          ></label>
        </div>
        <div class="input_search">
          <input
            type="search"
            name="search"
            id="input_size"
            placeholder="Código, nombre o categoría"
          />
        </div>
      </section>
      <section class="container_button">
        <div>
          <h2 class="ptitle ">Listado de productos</h2>
        </div>
        <div>  
            <label class="letter3 mayus"> Agregar <a href="./create-item.html"><button class="red_button3">+</button></a> </label>
         </div> 
        </section>  

        </div>
        <div>
          <table class="table_admin">
            <thead>
              <tr>
                <th>ID</th>
                <th>Código</th>
                <th>Nombre del Producto</th>
                <th>Categoría</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>STW001001</td>
                <td>Baby Yoda Blueball</td>
                <td class="mayus">Star Wars</td>
                <td>
                  <picture>
                    <a href="./edit-item.html">
                      <img
                        class="edit__icon"
                        src="../../img/icons/edit_pencil.svg"
                        alt="Ícono de lápiz de edición de items."
                    /></a>
                  </picture>
                </td>
                <td>
                  <picture>
                    <a href="./edit-item.html">
                      <img
                        class="edit__icon"
                        src="../../img/icons/delete_trash.svg"
                        alt="Ícono de tacho de basura."
                    /></a>
                  </picture>
                </td>
              </tr>
              <tr>
                <td>2</td>
                <td>STW001002</td>
                <td>Boba Fett Fighter</td>
                <td class="mayus">Star Wars</td>
                <td>
                  <picture>
                    <a href="./edit-item.html">
                      <img
                        class="edit__icon"
                        src="../../img/icons/edit_pencil.svg"
                        alt="Ícono de lápiz de edición de items."
                    /></a>
                  </picture>
                </td>
                <td>
                  <picture>
                    <a href="./edit-item.html">
                      <img
                        class="edit__icon"
                        src="../../img/icons/delete_trash.svg"
                        alt="Ícono de tacho de basura."
                    /></a>
                  </picture>
                </td>
              </tr>
              <tr>
                <td>3</td>
                <td>STW001003</td>
                <td>Luke Skylwalker & Grogu</td>
                <td class="mayus">Star Wars</td>
                <td>
                  <picture>
                    <a href="./edit-item.html">
                      <img
                        class="edit__icon"
                        src="../../img/icons/edit_pencil.svg"
                        alt="Ícono de lápiz de edición de items."
                    /></a>
                  </picture>
                </td>
                <td>
                  <picture>
                    <a href="./edit-item.html">
                      <img
                        class="edit__icon"
                        src="../../img/icons/delete_trash.svg"
                        alt="Ícono de tacho de basura."
                    /></a>
                  </picture>
                </td>
              </tr>
              <tr>
                <td>4</td>
                <td>STW001004</td>
                <td>Stormtrooper Lightsaber</td>
                <td class="mayus">Star Wars</td>
                <td>
                  <picture>
                    <a href="./edit-item.html">
                      <img
                        class="edit__icon"
                        src="../../img/icons/edit_pencil.svg"
                        alt="Ícono de lápiz de edición de items."
                    /></a>
                  </picture>
                </td>
                <td>
                  <picture>
                    <a href="./edit-item.html">
                      <img
                        class="edit__icon"
                        src="../../img/icons/delete_trash.svg"
                        alt="Ícono de tacho de basura."
                    /></a>
                  </picture>
                </td>
              </tr>
              <tr>
                <td>5</td>
                <td>PKM001001</td>
                <td>Charmander Smiley</td>
                <td class="mayus">Pokemon</td>
                <td>
                  <picture>
                    <a href="./edit-item.html">
                      <img
                        class="edit__icon"
                        src="../../img/icons/edit_pencil.svg"
                        alt="Ícono de lápiz de edición de items."
                    /></a>
                  </picture>
                </td>
                <td>
                  <picture>
                    <a href="./edit-item.html">
                      <img
                        class="edit__icon"
                        src="../../img/icons/delete_trash.svg"
                        alt="Ícono de tacho de basura."
                    /></a>
                  </picture>
                </td>
              </tr>
              <tr>
                <td>6</td>
                <td>PKM001002</td>
                <td>Dragonite Hi!</td>
                <td class="mayus">Pokemon</td>
                <td>
                  <picture>
                    <a href="./edit-item.html">
                      <img
                        class="edit__icon"
                        src="../../img/icons/edit_pencil.svg"
                        alt="Ícono de lápiz de edición de items."
                    /></a>
                  </picture>
                </td>
                <td>
                  <picture>
                    <a href="./edit-item.html">
                      <img
                        class="edit__icon"
                        src="../../img/icons/delete_trash.svg"
                        alt="Ícono de tacho de basura."
                    /></a>
                  </picture>
                </td>
              </tr>
              <tr>
                <td>7</td>
                <td>PKM001003</td>
                <td>Pidgeotto Flying</td>
                <td class="mayus">Pokemon</td>
                <td>
                  <picture>
                    <a href="./edit-item.html">
                      <img
                        class="edit__icon"
                        src="../../img/icons/edit_pencil.svg"
                        alt="Ícono de lápiz de edición de items."
                    /></a>
                  </picture>
                </td>
                <td>
                  <picture>
                    <a href="./edit-item.html">
                      <img
                        class="edit__icon"
                        src="../../img/icons/delete_trash.svg"
                        alt="Ícono de tacho de basura."
                    /></a>
                  </picture>
                </td>
              </tr>
              <tr>
                <td>8</td>
                <td>PKM001004</td>
                <td>Pikachu Smiley</td>
                <td class="mayus">Pokemon</td>
                <td>
                  <picture>
                    <a href="./edit-item.html">
                      <img
                        class="edit__icon"
                        src="../../img/icons/edit_pencil.svg"
                        alt="Ícono de lápiz de edición de items."
                    /></a>
                  </picture>
                </td>
                <td>
                  <picture>
                    <a href="./edit-item.html">
                      <img
                        class="edit__icon"
                        src="../../img/icons/delete_trash.svg"
                        alt="Ícono de tacho de basura."
                    /></a>
                  </picture>
                </td>
              </tr>
              <tr>
                <td>9</td>
                <td>PKM001005</td>
                <td>Vulpix Fancy</td>
                <td class="mayus">Pokemon</td>
                <td>
                  <picture>
                    <a href="./edit-item.html">
                      <img
                        class="edit__icon"
                        src="../../img/icons/edit_pencil.svg"
                        alt="Ícono de lápiz de edición de items."
                    /></a>
                  </picture>
                </td>
                <td>
                  <picture>
                    <a href="./edit-item.html">
                      <img
                        class="edit__icon"
                        src="../../img/icons/delete_trash.svg"
                        alt="Ícono de tacho de basura."
                    /></a>
                  </picture>
                </td>
              </tr>
              <tr>
                <td>10</td>
                <td>HPT001001</td>
                <td>Harry Potter & Hegwid</td>
                <td class="mayus">Harry Potter</td>
                <td>
                  <picture>
                    <a href="./edit-item.html">
                      <img
                        class="edit__icon"
                        src="../../img/icons/edit_pencil.svg"
                        alt="Ícono de lápiz de edición de items."
                    /></a>
                  </picture>
                </td>
                <td>
                  <picture>
                    <a href="./edit-item.html">
                      <img
                        class="edit__icon"
                        src="../../img/icons/delete_trash.svg"
                        alt="Ícono de tacho de basura."
                    /></a>
                  </picture>
                </td>
              </tr>
              <tr>
                <td>11</td>
                <td>HPT001002</td>
                <td>Herminione Ball Dress</td>
                <td class="mayus">Harry Potter</td>
                <td>
                  <picture>
                    <a href="./edit-item.html">
                      <img
                        class="edit__icon"
                        src="../../img/icons/edit_pencil.svg"
                        alt="Ícono de lápiz de edición de items."
                    /></a>
                  </picture>
                </td>
                <td>
                  <picture>
                    <a href="./edit-item.html">
                      <img
                        class="edit__icon"
                        src="../../img/icons/delete_trash.svg"
                        alt="Ícono de tacho de basura."
                    /></a>
                  </picture>
                </td>
              </tr>
              <tr>
                <td>12</td>
                <td>HPT001003</td>
                <td>Luna Lovegood Lion Mask</td>
                <td class="mayus">Harry Potter</td>
                <td>
                  <picture>
                    <a href="./edit-item.html">
                      <img
                        class="edit__icon"
                        src="../../img/icons/edit_pencil.svg"
                        alt="Ícono de lápiz de edición de items."
                    /></a>
                  </picture>
                </td>
                <td>
                  <picture>
                    <a href="./edit-item.html">
                      <img
                        class="edit__icon"
                        src="../../img/icons/delete_trash.svg"
                        alt="Ícono de tacho de basura."
                    /></a>
                  </picture>
                </td>
              </tr>
              <tr>
                <td>13</td>
                <td>HPT001004</td>
                <td>Snape Patronus</td>
                <td class="mayus">Harry Potter</td>
                <td>
                  <picture>
                    <a href="./edit-item.html">
                      <img
                        class="edit__icon"
                        src="../../img/icons/edit_pencil.svg"
                        alt="Ícono de lápiz de edición de items."
                    /></a>
                  </picture>
                </td>
                <td>
                  <picture>
                    <a href="./edit-item.html">
                      <img
                        class="edit__icon"
                        src="../../img/icons/delete_trash.svg"
                        alt="Ícono de tacho de basura."
                    /></a>
                  </picture>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
    </main>
    <!-- MAIN END -->

    