<%- contentFor('body') %>
    <!-- MAIN START -->
    <main>
      <section>
        <section class="container">
          <h2 class="page__title">Crear Nuevo Item</h2>
          <form action="/admin/create" method="post" enctype="multipart/form-data">
            <div>
              <label for="category" class="letter1 spaces">Categoría:</label>
              <select id="category" name="category" class="spaces style">
                <option value="seleccionar" selected>Seleccionar</option>
                <option value="fuko-pop">Figuras</option>
                <option value="remera">Remeras</option>
                <option value="llavero">Llaveros</option>
              </select>
              <label for="licence" class="letter1 spaces">Licencia:</label>
              <select id="licence" name="licence" class="spaces style">
                <option value="seleccionar" selected>Seleccionar</option>
                <option value="harry-potter">Harry Potter</option>
                <option value="naruto-shippuden">Naruto Shippuden</option>
                <option value="pokemon">Pokemon</option>
                <option value="star-wars">Star Wars</option>
              </select>
            </div>
            <div class="spaces">
              <label for="nombre" class="letter2 spaces">Nombre del producto:</label>
              <input
                type="text"
                id="nombre"
                name="nombre"
                placeholder="Kakashi Hatake Shippuden Saga"
                class="bottom_border spaces"
              />
            </div>
            <div>
              <textarea
                name="item-description"
                id="item-description"
                cols="89"
                rows="10"
                placeholder="Descripción del producto"
                class="spaces"
              ></textarea>
            </div>
            <div>
              <label for="sku-item" class="letter2 spaces mayus" >sku:</label>
              <input
                type="text"
                id="sku-item"
                name="sku-item"
                placeholder="SSK111AB001"
                class="bottom_border1 spaces"
              />
              <label for="item-price" class="letter2 spaces">Precio:</label>
              <input
                type="text"
                id="item-price"
                name="item-price"
                placeholder="$ 0.000,00"
                class="bottom_border1 spaces"
              />
              <label for="item-stock" class="letter2 spaces">Stock:</label>
              <input
                type="text"
                id="item-stock"
                name="item-stock"
                placeholder="0"
                class="bottom_border2 spaces"
              />
            </div>
          <div>
            <label for="discount" class="letter2 spaces">Descuento:</label>
            <input
              type="text"
              id="discount"
              name="discount"
              placeholder="0%"
              class="bottom_border2 spaces"
            />
            <label for="cuotas" class="letter2 spaces">Cuotas:</label>
            <select name="cuotas" id="cuotas" class="spaces style ">
              <option value="3" selected>3 Cuotas sin interés</option>
              <option value="6">6 Cuotas sin interés</option>
              <option value="12">12 Cuotas sin interés</option>
              <option value="24">24 Cuotas sin interés</option>
            </select>
          </div>
          <div>
            <label for="imagen" class="letter2 spaces">Imágenes:</label>
            <input type="file" id="imagen" name="imagen" class="spaces"/> <!-- Cambiar esta leyenda que sale con JS -->
          </div>
        </section>
        <section class="container">
          <div>
            <button type="submit" class="red_button">Agregar Producto</button>
            <input type="reset" value="Limpiar" class="red_button"/>
          </div>
        </section>
      </form>
      </section>
    </main>
    <!-- MAIN END -->
