<%- contentFor('body') %>
    <!-- MAIN START -->
      <main class="">
      <section class="signup__container">
        <h2 class="login__title">Crea tu cuenta</h2>
        <p class="signup__subtitle">Completa el formulario para ser parte del mundo de los Funkos</p>
                <form action="" method="POST">
          <div class="rpassword__container">
            <label class="letter2" for="name">Nombre:</label>
            <input 
              class="bottom_border3"
              type="text"
              name="name"
              id="sign-up-name"
              placeholder="John"/>
           </div>
          <div class="rpassword__container">
            <label class="letter2" for="surname">Apellido:</label>
            <input
              class="bottom_border3"
              type="text"
              name="surname"
              id="surname"
              placeholder="Doe"
            />
          </div>
          <div class="rpassword__container">
            <label class="letter2" for="email">Email:</label>
            <input
              class="bottom_border4"
              type="email"
              id="sign-up-email"
              placeholder="johndoe@correo.com"
            />
          </div>
          <div class="rpassword__container">
            <label class="letter2 " for="password">Contraseña:</label>
            <input
            class="bottom_border5"
              type="password"
              id="sig-up-pass"
              name="password"
              placeholder="*********"
            />
          </div>
          <div class="rpassword__container">
            <label class="letter2" for="password">Repita Contraseña:</label>
            <input
              class="bottom_border6"
              type="password"
              id="sig-up-pass"
              name="password"
              placeholder="*********"
            />
          </div>
          <section class="register__container">
          <input class="red_button2" type="submit" value="Registrar" />
          <input class="remember__container" type="checkbox" name="aceptoTyC" id="aceptoTyC" />
          <label class="terms__conditions" for=""> Acepto <a class="blue__text" href="./terms-and-conditions.html">Términos y Condiciones</a> </label>
          </section>  
          </div>
          <!-- VER TÉRMINOS Y CONDICIONES -->
        </form>
      </section>
    </main>
    <!-- MAIN END -->
 