<%- contentFor('body') %>
    <h1 style="padding: 25% ">
      PÁGINA EN DESARROLLO...
      <a href="../../index.html" style="text-decoration: underline"
        >VOLVER AL INICIO</a
      >
    </h1>
 