<!-- FOOTER START -->
<footer class="footer">
    <!-- FOOTER NAVBAR START -->
    <nav class="navbar container">
      <!-- FOOTER NAVBAR MENU START -->
      <ul class="navbar_menu">
        <li class="navbar__item">
          <a class="navbar__link" href="/shop">Shop</a>
        </li>
        <li class="navbar__item">
          <a class="navbar__link" href="auth/signup">Registrarse</a>
        </li>
        <li class="navbar__item">
          <a class="navbar__link" href="/login">Login</a>
        </li>
        <li class="navbar__item">
          <a class="navbar__link" href="/contact">Contacto</a>
        </li>
      </ul>
      <!-- FOOTER NAVBAR MENU END -->

      <!-- FOOTER NAVBAR ICON START -->
      <picture>
        <img
          src="/img/branding/isotype.svg"
          alt="Isologotipo de la Marca Funkoshop."
        />
      </picture>
      <!-- FOOTER NAVBAR ICON END -->
    </nav>
    <!-- FOOTER NAVBAR END -->
    <p class="footer__copy">All rights reserved 2023 - Funkoshop &copy;</p>
  </footer>
  <!-- FOOTER END -->