   <!-- HEADER START -->
   <header>
    <!-- HEADER NAVBAR START -->
    <nav class="navbar container">
      <!-- HEADER NAVBAR ICON START -->
      <picture class="navbar__logo">
        <a href="/index">
          <img
            src="/img/branding/logo_light_horizontal.svg"
            alt="Isologotipo de la Marca Funkoshop."
        /></a>
      </picture>
      <!-- NAVBAR ICON END -->

      <!-- NAVBAR MENU START -->
      <ul class="navbar__menu">
        <li class="navbar__item">
          <a class="navbar__link" href="/shop">Ver Tienda</a>
        </li>
        <li class="navbar__item">
          <a class="navbar__link" href="/admin">Admin</a>
        </li>
        <li class="navbar__item">
          <a class="navbar__link" href="/index">Salir</a>
        </li>
      </ul>
      <!-- HEADER NAVBAR MENU END -->
    </nav>
    <!-- HEADER NAVBAR END -->
  </header>
  <!-- HEADER END -->